    .home-container {
    padding: 0rem 0;
    }
    
    .credits-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    }
    .banner{
    background: linear-gradient(135deg,rgb(54, 127, 170) 0%, #243b55 100%);
    color: white;
    padding: 3rem 0;
    text-align: center;
    width: 100%;
    margin: auto;
    border-radius: 0px 0px 10px 10px;

    }
    .banner h2{
        font-size: 2.5rem;
    }
    .banner p{
        font-size: 1.2rem;
        margin-top: 10px;
        
    }